<div class="container bg-warning h-100">
  <h1 class="pt-4 mb-4">Productos</h1>
  <div class="d-flex row flex-row">
    <div class="d-flex col-12 flex-wrap">

      {{#each carts}}
        <div class="card text-white bg-warning me-4 mb-4 p-4 w-100 cart-id" id={{this.id}}>
          
        </div>

      {{/each}}

    </div>
  </div>
</div>

</div>