<!DOCTYPE html>
<html>
<head>
  <title>E-commerce</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/chat">Chat</a></li>
    </ul>
    <button class="cart-button">{{ cartItemCount }}</button>
  </nav>
  <h1>Bienvenido a nuestro e-commerce</h1>
  <!-- aca va el contenido de la página -->
</body>
</html>